{% extends "base.html" %}

{% block content %}
  <section class="jumbotron">
    <article class="container">
      <h1>
        Confirmar
      </h1>
    </article>
  </section>

  <section class="container">
    <article class="row">
      <section class="col-md-10 col-lg-8 col-xl-6 offset-md-1 offset-lg-2 offset-xl-3">
        {% include "components/errors.html" %}

        <h5 class="text-center">
          Hemos enviado un correo electrónico de confirmación a su dirección de correo electrónico.
        </h5>

        <br>

        <h5 class="text-center">
          Haga clic en el enlace de ese correo electrónico para confirmar su cuenta.
        </h5>

        <br>

        <h5 class="text-center">
          Si el correo electrónico no llega, revise su carpeta de correo no deseado o comuníquese con un administrador para verificar manualmente su cuenta.
        </h5>

        <hr>

        {% with form = Forms.auth.ConfirmForm() %}
          <form method="POST" action="{{ url_for('auth.confirm') }}">
            <article class="row">
              <article class="mb-3 col-md-6">
                {{ form.submit(class="btn btn-primary w-100") }}
              </article>
              <article class="mb-3 col-md-6">
                <a href="{{ url_for('views.settings') }}" class="btn btn-secondary w-100">
                  Cambiar dirección de correo electrónico
                </a>
              </article>
              {{ form.nonce() }}
            </article>
          </form>
        {% endwith %}
      </section>
    </article>
  </section>
{% endblock %}
