{% extends "base.html" %}

{% block content %}

  {% set titulo = "Notificaciones" %}
  {% include "components/jumbotron.html" with context %}
  
	<div class="container-path container-path--top"></div>
  <div class="notifications">
    {% if not notifications %}
    <div class="notifications__empty">
      <h3 class="notifications__empty-title">
        No hay notificaciones todavía
      </h3>
    </div>
    {% endif %}
    {% for notification in notifications %}
    <div class="notification">
      <div class="notification__content">
        <h3 class="notification__title">{{ notification.title }}</h3>
          <p class="notification__text">{{ notification.html }}</p>
          <small class="notification__date"><span data-time="{{ notification.date | isoformat }}"></span></small>
      </div>
    </div>
    {% endfor %}
  </div>
	<div class="container-path container-path--bottom"></div>
{% endblock %}

{% block scripts %}
  {{ Assets.js("assets/js/notifications.js") }}
{% endblock %}