{% extends "base.html" %}

{% block content %}
  <section class="jumbotron">
    <div class="jumbotron__container">
      <h1 class="jumbotron__title">
        NOTIFICACIONES
      </h1>
    </div>
  </section>
	<div class="container-path container-path--jumbotron-bottom"></div>
	<div class="container-path container-path--top"></div>
  <div class="notifications">
    {% if not notifications %}
    <div class="notifications__empty">
      <h2 class="notifications__empty-title">
        No hay notificaciones todavía
      </h2>
    </div>
    {% endif %}
    {% for notification in notifications %}
    <div class="notification">
      <div class="notification__content">
        <h3 class="notification__title">{{ notification.title }}</h3>
          <p class="notification__text">{{ notification.html }}</p>
          <small class="notification__date"><span data-time="{{ notification.date | isoformat }}"></span></small>
      </div>
    </div>
    {% endfor %}
  </div>
	<div class="container-path container-path--bottom"></div>
{% endblock %}

{% block scripts %}
  {{ Assets.js("assets/js/notifications.js") }}
{% endblock %}