{% extends "base.html" %}

{% block content %}

  {% set titulo = "Marcador" %}
  {% include "components/jumbotron.html" with context %}

  {% include "components/errors.html" %}

  <div id="score-graph"
       class="score-graph"
       :class="{'score-graph--visible': show, 'score-graph--hidden': !show}"
       x-data="ScoreboardDetail"
       x-ref="scoregraph"
       @bracket-change.window="activeBracket=$event.detail; update();">

    <div class="score-graph__spinner">
      <i class="score-graph__spinner-icon fas fa-circle-notch fa-spin fa-3x fa-fw"></i>
    </div>
  </div>

  <div class="scoreboard" x-data="ScoreboardList">
    <template x-if="brackets.length && standings.length">
      <div class="scoreboard__filters">
        <nav class="scoreboard__nav">
          <button class="scoreboard__tab"
                  :class="{'scoreboard__tab--active': !activeBracket}"
                  @click="activeBracket=null">
            Todos
          </button>
          <template x-for="bracket in brackets">
            <button class="scoreboard__tab"
                    :class="{'scoreboard__tab--active': activeBracket == bracket.id}"
                    x-text="bracket.name"
                    @click="activeBracket=bracket.id"></button>
          </template>
        </nav>
      </div>
    </template>

    <div class="scoreboard__table-wrapper" x-show="standings.length">
      <table class="scoreboard__table">
        <thead>
          <tr class="scoreboard__row-header">
            <th class="scoreboard__column scoreboard__column--rank">Lugar</th>
              {% if get_mode_as_word(capitalize=True) == "Team" %}
                <th class="scoreboard__column scoreboard__column--name">
                  Equipo
                </th>
              {% endif %}
              {% if get_mode_as_word(capitalize=True) == "User" %}
                <th class="scoreboard__column scoreboard__column--name">
                  Usuario
                </th>
              {% endif %}
            <th class="scoreboard__column scoreboard__column--score">Puntuación</th>
          </tr>
        </thead>
        <tbody>
          <template x-for="(standing, index) in standings.filter(i => activeBracket ? i.bracket_id==activeBracket : true)">
            <tr class="scoreboard__row">
              <th scope="row" class="scoreboard__cell scoreboard__cell--rank" x-text="index + 1"></th>
              <td class="scoreboard__cell scoreboard__cell--name">
                <a :href="standing.account_url" x-text="standing.name" class="scoreboard__link"></a>
                <template x-if="standing.bracket_name">
                  <span class="scoreboard__badge" x-text="standing.bracket_name"></span>
                </template>
              </td>
              <td class="scoreboard__cell scoreboard__cell--score" x-text="standing.score"></td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
  </div>

    <div x-data="ScoreboardList">
        <div class="scoreboard__empty" x-show="! standings.length">
            <div class="container-path container-path--top"></div>
            <div class="scoreboard__empty-message">
                <h3 class="scoreboard__empty-title">El marcador está vacío</h3>
            </div>
            <div class="container-path container-path--bottom"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
  {{ Assets.js("assets/js/scoreboard.js") }}
{% endblock %}
