:root {
  --primary-red-100: #fbd6dd;
  --primary-red-200: #f6aebb;
  --primary-red-300: #f2859a;
  --primary-red-400: #ed5d78;
  --primary-red-500: #e93456;
  --primary-red-600: #d6173b;
  --primary-red-700: #ab132f;
  --primary-red-800: #810e23;
  --primary-red-900: #560918;

  --secondary-blue-100: #bcd4ff;
  --secondary-blue-200: #7aa8ff;
  --secondary-blue-300: #377dff;
  --secondary-blue-400: #0055f4;
  --secondary-blue-500: #003eb1;
  --secondary-blue-600: #00369b;
  --secondary-blue-700: #002e85;
  --secondary-blue-800: #00276f;
  --secondary-blue-900: #001f59;

  --neutral-white-000: #ffffff;
  --neutral-grey-100: #efefef;
  --neutral-grey-300: #b5b5b5;
  --neutral-black-999: #222222;

  /* ---- FORMULARIOS ---- */
  --text-label-color: var(--primary-red-500);
}

body {
  background-color: var(--neutral-white-000);
}

.ll-nam {
  /* words */
  color: #24292f;
}
.ll-num {
  /* numbers */
  color: #005cc5;
}
.ll-str {
  /* strings */
  color: #0a3069;
}
.ll-rex {
  /* regular expressions */
  color: #032f62;
}
.ll-pct {
  /* operators, punctuation */
  color: #24292f;
}
.ll-key {
  /* keywords */
  color: #d73a49;
}
.ll-com {
  /* comments */
  color: #6a737d;
  font-style: italic;
}

[data-bs-theme="dark"] {

  /* ---- FORMULARIOS ---- */
  --text-label-color: var(--primary-red-200);

  body {
  background-color: #2b2b2b;
}

  .ll-nam {
    color: #c9d1d9;
  }
  .ll-num {
    color: #79c0ff;
  }
  .ll-str {
    color: #a5d6ff;
  }
  .ll-rex {
    color: #96cefb;
  }
  .ll-pct {
    color: #c9d1d9;
  }
  .ll-key {
    color: #ff7b72;
  }
  .ll-com {
    color: #8b949e;
  }
}
