:root {
  --primary-red-100: #fbd6dd;
  --primary-red-200: #f6aebb;
  --primary-red-300: #f2859a;
  --primary-red-400: #ed5d78;
  --primary-red-500: #e93456;
  --primary-red-600: #d6173b;
  --primary-red-700: #ab132f;
  --primary-red-800: #810e23;
  --primary-red-900: #560918;

  --secondary-blue-100: #bcd4ff;
  --secondary-blue-200: #7aa8ff;
  --secondary-blue-300: #377dff;
  --secondary-blue-400: #0055f4;
  --secondary-blue-500: #003eb1;
  --secondary-blue-600: #00369b;
  --secondary-blue-700: #002e85;
  --secondary-blue-800: #00276f;
  --secondary-blue-900: #001f59;

  --neutral-white-000: #ffffff;
  --neutral-grey-100: #efefef;
  --neutral-grey-300: #b5b5b5;
  --neutral-grey-400: #56585e;
  --neutral-grey-900: #2b2b2b;
  --neutral-black-999: #222222;


  // Modo claro

  /* ---- GENERAL ---- */
  --text-color: var(--neutral-black-999);
  --text-a-color: var(--primary-red-500);

  /* ---- FORMULARIOS ---- */
  --input-label-color: var(--primary-red-500);

  --input-border-color: var(--neutral-grey-300);
  --input-bg-color: var(--neutral-grey-100);
  --input-text-color: var(--neutral-black-999);
  --input-focus-border-color: var(--primary-red-500);
  --input-text-help-color: var(--neutral-black-999);

  /* ---- TABLAS ---- */
  --table-bg-odd: var(--neutral-grey-100);
  --table-bg-even: var(--neutral-white-000);
}

body {
  background-color: var(--neutral-white-000);
}

[data-bs-theme="dark"] {

  /* ---- GENERAL ---- */
  --text-color: var(--neutral-black-999);
  --text-a-color: var(--primary-red-200);

  /* ---- FORMULARIOS ---- */
  --text-label-color: var(--primary-red-200);

  body {
  background-color: #2b2b2b;
}
}
