:root {
  --primary-red-100: #fbd6dd;
  --primary-red-200: #f6aebb;
  --primary-red-300: #f2859a;
  --primary-red-400: #ed5d78;
  --primary-red-500: #e93456;
  --primary-red-600: #d6173b;
  --primary-red-700: #ab132f;
  --primary-red-800: #810e23;
  --primary-red-900: #560918;

  --primary-red-500-50percent: #e9345584;

  --secondary-blue-100: #bcd4ff;
  --secondary-blue-200: #7aa8ff;
  --secondary-blue-300: #377dff;
  --secondary-blue-400: #0055f4;
  --secondary-blue-500: #003eb1;
  --secondary-blue-600: #00369b;
  --secondary-blue-700: #002e85;
  --secondary-blue-800: #00276f;
  --secondary-blue-900: #001f59;

  --secondary-blue-400-50percent: #0055f480;

  --neutral-white-000: #ffffff;
  --neutral-grey-100: #efefef;
  --neutral-grey-300: #b5b5b5;
  --neutral-grey-400: #56585e;
  --neutral-grey-900: #2b2b2b;
  --neutral-black-999: #222222;


  // Modo claro

  /* ---- GENERAL ---- */
  --text-color: var(--neutral-black-999);
  --text-message-color: var(--neutral-grey-400);
  --text-a-color: var(--primary-red-500);
  --text-h-color: var(--primary-red-500);
  --text-empty-color: var(--neutral-grey-400);

  --pagination-color: var(--primary-red-500);

  --section-bg-color: var(--neutral-grey-100);

  /* ---- NAVBAR ---- */
  --navbar-bg-color: var(--neutral-black-999);
  --navbar-text-color: var(--neutral-white-000);
  --navbar-text-hover-color: var(--neutral-grey-100);

  /* ---- ENCABEZADO ---- */
  --header-text-color: var(--neutral-white-000);
  --header-text-shadow1: var(--secondary-blue-400-50percent);
  --header-text-shadow2: var(--primary-red-500-50percent);

  --header-badge-bg: var(--primary-red-500);
  --header-badge-text-color: var(--neutral-white-000);

  /* ---- FORMULARIOS ---- */
  --input-label-color: var(--primary-red-500);

  --input-border-color: var(--neutral-grey-300);
  --input-bg-color: var(--neutral-grey-100);
  --input-text-color: var(--neutral-black-999);
  --input-focus-border-color: var(--primary-red-500);
  --input-text-help-color: var(--neutral-black-999);

    /* ---- BOTONES ---- */
  --button-primary-bg-color: var(--primary-red-500);
  --button-primary-text-color: var(--neutral-white-000);
  --button-primary-border-color1: var(--primary-red-500);
  --button-primary-border-color2: var(--secondary-blue-500);

  /* ---- TABLAS ---- */
  --table-bg-odd: var(--neutral-grey-100);
  --table-bg-even: var(--neutral-white-000);

  /* ---- CARD DESAFIOS ---- */
  --card-name: var(--primary-red-500);
  --card-value: var(--primary-red-500);
  --card-border-color1: var(--primary-red-500);
  --card-border-color2: var(--secondary-blue-400);

  /* ---- MODALES ---- */
  --modal-bg-color: var(--neutral-white-000);
  --modal-title-color: var(--primary-red-500);
  --modal-close-color: var(--neutral-grey-400);
  --modal-close-hover-color: var(--primary-red-500);

  --modal-boton-sucess: var(--primary-red-500);
  --modal-boton-sucess-hover: var(--primary-red-700);
  --modal-boton-sucess-text-color: var(--neutral-white-000);

  --modal-boton-cancel: var(--neutral-grey-300);
  --modal-boton-cancel-hover: var(--neutral-grey-400);
  --modal-boton-cancel-text-color: var(--neutral-black-999);

  /* ---- NOTIFICACIONES ---- */
  --notification-border-color1: var(--primary-red-500);
  --notification-border-color2: var(--secondary-blue-400);
  --notification-bg-color: var(--neutral-grey-100);

  --notification-title-color: var(--primary-red-500);
  --notification-text-color: var(--neutral-black-999);
  --notificacion-text-empty: var(--neutral-grey-400);

}

body {
  background-color: var(--neutral-white-000);
}

[data-bs-theme="dark"] {

  /* ---- GENERAL ---- */
  --text-color: var(--neutral-white-000);
  --text-message-color: var(--neutral-grey-300);
  --text-a-color: var(--primary-red-200);
  --text-h-color: var(--primary-red-200);
  --text-empty-color: var(--neutral-grey-100);

  --pagination-color: var(--primary-red-200);

  --section-bg-color: var(--neutral-black-999);

  /* ---- NAVBAR ---- */
  --navbar-bg-color: var(--neutral-black-999);
  --navbar-text-color: var(--neutral-white-000);
  --navbar-text-hover-color: var(--neutral-grey-100);

  /* ---- ENCABEZADO ---- */
  --header-text-color: var(--neutral-white-000);
  --header-text-shadow1: var(--secondary-blue-400-50percent);
  --header-text-shadow2: var(--primary-red-500-50percent);

  --header-badge-bg: var(--primary-red-500);
  --header-badge-text-color: var(--neutral-white-000);

  /* ---- FORMULARIOS ---- */
  --input-label-color: var(--primary-red-200);

  --input-border-color: var(--neutral-grey-300);
  --input-bg-color: var(--neutral-grey-400);
  --input-text-color: var(--neutral-white-000);
  --input-focus-border-color: var(--primary-red-200);
  --input-text-help-color: var(--neutral-white-000);

  /* ---- TABLAS ---- */
  --table-bg-odd: var(--neutral-black-999);
  --table-bg-even: var(--neutral-grey-900);

  /* ---- CARD DESAFIOS ---- */
  --card-name: var(--neutral-white-000);
  --card-value: var(--neutral-white-000);
  --card-border-color1: var(--primary-red-500);
  --card-border-color2: var(--secondary-blue-400);

  /* ---- MODALES ---- */
  --modal-bg-color: var(--neutral-grey-900);
  --modal-title-color: var(--neutral-white-000);
  --modal-close-color: var(--neutral-grey-400);
  --modal-close-hover-color: var(--primary-red-200);

  --modal-boton-sucess: var(--primary-red-500);
  --modal-boton-sucess-hover: var(--primary-red-700);
  --modal-boton-sucess-text-color: var(--neutral-white-000);

  --modal-boton-cancel: var(--neutral-grey-300);
  --modal-boton-cancel-hover: var(--neutral-grey-400);
  --modal-boton-cancel-text-color: var(--neutral-black-999);

  /* ---- NOTIFICACIONES ---- */
  --notification-border-color1: var(--primary-red-500);
  --notification-border-color2: var(--secondary-blue-400);
  --notification-bg-color: var(--neutral-black-999);

  --notification-title-color: var(--neutral-white-000);
  --notification-text-color: var(--neutral-white-000);


  body {
    background-color: var(--neutral-grey-900);
  }
}
