<article x-data>
  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div x-ref="toast" class="toast toast--hide" role="alert" aria-live="assertive" aria-atomic="true">
      <article class="toast__header">
        <strong class="me-auto toast__title" x-text="$store.toast.title"></strong>
        <small>justo ahora</small>
        <button type="button" class="btn-close toast__close" data-bs-dismiss="toast" aria-label="Close"></button>
      </article>
      <article class="toast__body" x-html="$store.toast.html">
      </article>
    </div>
  </div>
</article>

<article x-data>
  <div class="modal fade" x-ref="modal" tabindex="-1">
    <div class="modal__dialog">
      <div class="modal__content">
        <article class="modal__header">
          <h5 class="modal__title" x-text="$store.modal.title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </article>
        <article class="modal__body">
          <p x-html="$store.modal.html"></p>
        </article>
        <article class="modal__footer">
          <button type="button" class="btn btn-primary modal__button" data-bs-dismiss="modal">¡Lo tengo!</button>
        </article>
      </div>
    </div>
  </div>
</article>