{% extends "base.html" %}

{% block content %}

  {% set titulo = "Crear equipo" %}
  {% include "components/jumbotron.html" with context %}

  <div class="team-register">
    <div class="team-register__body">
      {% include "components/errors.html" %}

      {% with form = Forms.teams.TeamRegisterForm() %}
        {% from "macros/forms.html" import render_extra_fields %}

        <form method="POST" class="team-register__form">
          <div class="form__group">
            {{ form.name.label(class="form__label") }}
            {{ form.name(class="form__input") }}
          </div>

          <div class="form__group">
            {{ form.password.label(class="form__label") }}
            {{ form.password(class="form__input") }}
          </div>

          {{ render_extra_fields(form.extra) }}

          <div class="team-register__actions">
            <p class="team-register__note">
              Después de crear tu equipo, comparte el nombre y la contraseña con tus compañeros para que puedan unirse.
            </p>
            {{ form.submit(class="btn--success") }}
          </div>

          {{ form.nonce() }}
        </form>
      {% endwith %}
    </div>
  </div>
{% endblock %}
