{% extends "base.html" %}
{% from "macros/forms.html" import render_extra_fields %}

{% block content %}
{% set decorado_header = decorado_header or Assets.file("static/img/Decorado_header.svg") %}

<div id="team-edit-modal" class="modals" x-data="TeamEditModal" x-ref="teamEditModal" style="display: none;">
  <div class="modals__overlay" @click="closeModal"></div>
  <div class="modals__dialog">
    <div class="modals__header">
      <h4 class="modals__header__title">Editar equipo</h4>
      <span class="modals__header__close" @click="closeModal" aria-label="Cerrar">
        &times;
      </span>
    </div>
    <div class="modals__body">
      {% with form = Forms.teams.TeamSettingsForm(obj=team) %}
        <form id="team-info-form" method="POST" @submit.prevent="updateProfile()">
          <div class="form__group">
            <label class="form__label" for="team-name">{{ form.name.label }}</label>
            {{ form.name(class="form__input") }}
            <small class="form__description text-muted">{{ form.name.description }}</small>
          </div>
          <div class="form__group">
            <label class="form__label" for="team-password">{{ form.password.label }}</label>
            {{ form.password(class="form__input") }}
            <small class="form__description text-muted">{{ form.password.description }}</small>
          </div>
          <div class="form__group">
            <label class="form__label" for="team-confirm">{{ form.confirm.label }}</label>
            {{ form.confirm(class="form__input") }}
            <small class="form__description text-muted">{{ form.confirm.description }}</small>
          </div>
          <div class="form__group">
            <label class="form__label" for="team-website">{{ form.website.label }}</label>
            {{ form.website(class="form__input") }}
            <small class="form__description text-muted">{{ form.website.description }}</small>
          </div>
          <div class="form__group">
            <label class="form__label" for="team-affiliation">{{ form.affiliation.label }}</label>
            {{ form.affiliation(class="form__input") }}
            <small class="form__description text-muted">{{ form.affiliation.description }}</small>
          </div>
          <div class="form__group">
            <label class="form__label" for="team-country">{{ form.country.label }}</label>
            {{ form.country(class="form__select") }}
            <small class="form__description text-muted">{{ form.country.description }}</small>
          </div>
          {{ render_extra_fields(form.extra) }}
          <div id="results">
            <div class="alert alert-success" role="alert" x-cloak="success" x-show="success">
              <strong>¡Éxito!</strong> El perfil de tu equipo ha sido actualizado
            </div>
            <template x-for="(msg, idx) in errors" :key="idx">
              <div class="alert alert-danger" role="alert">
                <span x-text="msg"></span>
              </div>
            </template>
          </div>
            <div class="form__submit">
                <button type="submit" class="boton">Enviar</button>
            </div>
        </form>
      {% endwith %}
    </div>
  </div>
</div>

<div id="team-captain-modal" class="modals" x-data="TeamCaptainModal" x-ref="teamCaptainModal" style="display: none;">
  <div class="modals__overlay" @click="closeModal"></div>
  <div class="modals__dialog">
    <div class="modals__header">
      <h4 class="modals__header__title">Elige Capitán</h4>
      <span class="modals__header__close" @click="closeModal" aria-label="Cerrar">
        &times;
      </span>
    </div>
    <div class="modals__body">
      {% with form = Forms.teams.TeamCaptainForm(captain_id=team.captain_id) %}
        <form id="team-captain-form" method="POST" @submit.prevent="updateCaptain()">
          <div class="form__group">
            {{ form.captain_id.label(class="form__label") }}
            {% for member in team.members %}
              {# Append members to the select choices #}
              {% set _ = form.captain_id.choices.append((member.id, member.name)) %}
            {% endfor %}
            {{ form.captain_id(class="form__select mb-2") }}
          </div>
          <div id="results">
            <div
                class="alert alert-success alert-dismissible submit-row"
                role="alert"
                x-cloak="success"
                x-show="success"
            >
              <strong>¡Éxito!</strong>
              Tus derechos de capitán han sido transferidos
              <button type="button" class="cursor-pointer btn-close" data-bs-dismiss="alert" aria-label="Close">
              </button>
            </div>
            <template x-for="(msg, idx) in errors" :key="idx">
              <div class="alert alert-danger alert-dismissible" role="alert">
                <span class="sr-only">Error:</span>
                <span x-text="msg"></span>
                <button type="button" class="cursor-pointer btn-close" data-bs-dismiss="alert" aria-label="Close">
                </button>
              </div>
            </template>
          </div>
          <div class="form__submit">
              <button type="submit" class="boton">Guardar</button>
          </div>
        </form>
      {% endwith %}
    </div>
  </div>
</div>

<div id="team-invite-modal" class="modals" x-data="TeamInviteModal" x-ref="teamInviteModal" style="display: none;">
  <div class="modals__overlay" @click="closeModal"></div>
  <div class="modals__dialog">
    <div class="modals__header">
      <h4 class="modals__header__title">Invitar usuarios</h4>
      <span class="modals__header__close" @click="closeModal" aria-label="Cerrar">
        &times;
      </span>
    </div>
    <div class="modals__body">
      {% with form = Forms.teams.TeamInviteForm() %}
        <form method="POST">
          <div class="form__group">
            <b>{{ form.link.label(class="form__label") }}</b>

            <div class="input-group mb-3">
              {{ form.link(id="team-invite-link", class="form-control", **{"x-ref": "link", "x-bind:value": "$store.inviteToken"}) }}

              <button class="btn btn-outline-secondary px-3" type="button" @click="copy()">
                <i class="fas fa-clipboard"></i>
              </button>
            </div>

            <small class="form__description text-muted">
              Comparte este enlace con los miembros de tu equipo para que se unan a tu equipo.
            </small>
            <small class="form__description text-muted">
              Los enlaces de invitación se pueden reutilizar y caducan después de 1 día.
            </small>
          </div>
        </form>
      {% endwith %}
    </div>
  </div>
</div>

<div id="team-disband-modal" class="modals" x-data="TeamDisbandModal" x-ref="teamDisbandModal" style="display: none;">
  <div class="modals__overlay" @click="closeModal"></div>
  <div class="modals__dialog">
    <div class="modals__header">
      <h4 class="modals__header__title">Disolver el equipo</h4>
      <span class="modals__header__close" @click="closeModal" aria-label="Cerrar">
        &times;
      </span>
    </div>
    <div class="modals__body">
      <p class="mb-0">¿Estás seguro de que deseas disolver tu equipo?</p>

      <div class="mt-3">
        <template x-for="(msg, idx) in errors" :key="idx">
          <div class="alert alert-danger" role="alert">
            <span class="sr-only">Error:</span>
            <span x-text="msg"></span>
          </div>
        </template>
      </div>
    </div>
    <div class="modals__footer">
      <button type="button" class="boton--secundario" @click="closeModal">No</button>
      <button type="button" class="boton" @click="disbandTeam()" :disabled="errors.length > 0">Sí</button>
    </div>
  </div>
</div>

<section class="jumbotron jumbotron--special" style="position: relative; overflow: hidden;">
  <div class="jumbotron__container">
    <h1 class="jumbotron__title section-title">{{ team.name }}</h1>

    {% if team.oauth_id %}
      <a href="https://majorleaguecyber.org/t/{{ team.name }}" class="etiqueta etiqueta--secundaria">
        Oficial
      </a>
    {% endif %}

    {% if team.affiliation %}
      <span class="etiqueta etiqueta--secundaria">{{ team.affiliation }}</span>
    {% endif %}

    {% if team.country %}
      <span class="etiqueta etiqueta--secundaria">
        <i class="flag-{{ team.country.lower() }}"></i>
        {{ lookup_country_code(team.country) }}
      </span>
    {% endif %}

    {% if team.bracket_id %}
      <div class="jumbotron__bracket">
        <span class="etiqueta etiqueta--principal">
          {{ team.bracket.name }}
        </span>
      </div>
    {% endif %}

    <div class="jumbotron__fields">
      {% for field in team.fields %}
        <div class="jumbotron__field">
          {{ field.name }}: {{ field.value }}
        </div>
      {% endfor %}
    </div>

    {% if team.fields %}
      <hr class="jumbotron__divider">
    {% endif %}

    <div class="jumbotron__stats">
      <h2 class="jumbotron__position">
        {% if place %}
          {{ place }} <small>puesto</small>
        {% endif %}
      </h2>
      <h2 class="jumbotron__score">
        {% if score %}
          {{ score }} <small>puntos</small>
        {% endif %}
      </h2>
    </div>

    {% if team.website %}
      <div class="jumbotron__website">
        <a href="{{ team.website }}" target="_blank" rel="noopener" title="{{ team.website }}">
          <i class="fas fa-external-link-alt fa-2x"></i>
        </a>
      </div>
    {% endif %}

    

    <div x-data="CaptainMenu" class="captain-menu">
      <span role="button" class="captain-menu__button--edit" @click="editTeam()">
        <i
            class="fas fa-cogs fa-2x"
            title="Editar Equipo"
        ></i>
      </span>
      <span role="button" class="captain-menu__button--captain" @click="chooseCaptain()">
        <i
            class="fas fa-user-tag fa-2x"
            title="Elegir Capitán"
        ></i>
      </span>

      <span role="button" class="captain-menu__button--invite" @click="inviteMembers()">
        <i
            class="fas fa-ticket-alt fa-2x"
            title="Invitar Miembros"
        ></i>
      </span>
      <span role="button" class="captain-menu__button--disband" @click="disbandTeam()">
        <i
            class="fas fa-trash-alt fa-2x"
            title="Disolver Equipo"
        ></i>
      </span>
    </div>

    <div class="pt-3">{% if team.website and (team.website.startswith('http://') or team.website.startswith('https://')) %}
        <a href="{{ team.website }}" target="_blank" style="color: inherit;" rel="noopener">
          <i
              class="fas fa-external-link-alt fa-2x px-2 pt-2"
              title="{{ team.website }}"
          ></i>
        </a>
      {% endif %}
      </div>
    </div>
  </div>

  <img src="{{ decorado_header }}" alt="Decoración jumbotron" 
       style="position: absolute; top: 20%; left: 0; width: 100%; height: auto; pointer-events: none; z-index: 0;">
</section>

<div class="container-path container-path--jumbotron-bottom"></div>

<section class="contenido">
  {% include "components/errors.html" %}

  <div class="tabla">
    <h3 class="tabla">Miembros</h3>
    <table class="tabla__tabla">
      <thead>
        <tr>
          <th class="tabla__th">Nombre de usuario</th>
          <th class="tabla__th">Puntuación</th>
        </tr>
      </thead>
      <tbody>
        {% for member in team.members %}
          <tr class="tabla__fila">
            <td class="tabla__celda">
              <a href="{{ url_for('users.public', user_id=member.id) }}" class="tabla__enlace">
                {{ member.name }}
              </a>
              {% if member.bracket_id %}
                <span class="etiqueta etiqueta--principal etiqueta--tabla">{{ member.bracket.name }}</span>
              {% endif %}
              {% if team.captain_id == member.id %}
                <span class="etiqueta etiqueta--secundaria etiqueta--tabla">Capitán</span>
              {% endif %}
            </td>
            <td class="tabla__celda">{{ member.score }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% if solves or awards %}
    {% if awards %}
      <div class="premios">
        <h3 class="premios__titulo">Premios</h3>
        <div class="premios__lista">
          {% for award in awards %}
            <div class="premios__item">
              <p class="premios__icono">
                <i class="award-icon award-{{ award.icon }} fa-2x"></i>
              </p>
              <p class="premios__nombre"><strong>{{ award.name }}</strong></p>
              <p class="premios__categoria">{{ award.category or "" }}</p>
              <p class="premios__descripcion">{{ award.description or "" }}</p>
              <p class="premios__valor">{{ award.value }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <section class="estadisticas" x-data="TeamGraphs">
      <div class="estadisticas__barras">
        <div class="estadisticas__barra__container">
          <div class="estadisticas__barra">
            <div 
              class="estadisticas__progreso"
              role="progressbar"
              :style="{ width: `${getSolvePercentage()}%`, 'background-color': 'rgb(0, 209, 64)' }">
            </div>
            <div 
              class="estadisticas__progreso"
              role="progressbar"
              :style="{ width: `${getFailPercentage()}%`, 'background-color': 'rgb(207, 38, 0)' }">
            </div>
          </div>
          <div class="estadisticas__leyenda">
            <svg height="16" width="16"><circle cx="8" cy="8" r="5" fill="rgb(0, 209, 64)" /></svg>
            <small x-text="`Aciertos (${getSolvePercentage()}%)`"></small>
    
            <svg height="16" width="16"><circle cx="8" cy="8" r="5" fill="rgb(207, 38, 0)" /></svg>
            <small x-text="`Fallos (${getFailPercentage()}%)`"></small>
          </div>
        </div>
  
        <div class="estadisticas__barra__container">
          <div class="estadisticas__barra">
            <template x-for="category in getCategoryBreakdown()" :key="category.name">
              <div 
                class="estadisticas__progreso"
                role="progressbar"
                :style="{ width: `${category.percent}%`, 'background-color': category.color }">
              </div>
            </template>
          </div>
          <div class="estadisticas__leyenda">
            <template x-for="category in getCategoryBreakdown()" :key="category.name">
              <div>
                <svg height="16" width="16">
                  <circle cx="8" cy="8" r="5" :fill="category.color" />
                </svg>
                <small x-text="`${category.name} (${category.percent}%)`"></small>
              </div>
            </template>
          </div>
        </div>
      </div>

      <div class="estadisticas__grafica" id="score-graph" x-ref="scoregraph">
        <div class="estadisticas__spinner">
          <i class="fas fa-circle-notch fa-spin fa-3x fa-fw spinner"></i>
        </div>
      </div>
    </section>

    <div class="tabla">
      <h3 class="tabla__titulo">Resueltos</h3>
      <div class="tabla__contenedor">
        <table class="tabla__tabla">
          <thead>
            <tr>
              <th class="tabla__th">Desafío</th>
              <th class="tabla__th tabla__th--ocultar">Categoría</th>
              <th class="tabla__th tabla__celda--centro">Valor</th>
              <th class="tabla__th tabla__celda--centro">Fecha</th>
            </tr>
          </thead>
          <tbody>
            {% for solve in solves %}
              <tr class="tabla__fila">
                <td class="tabla__celda">
                  <a href="{{ url_for('challenges.listing') }}#{{ solve.challenge.name }}-{{ solve.challenge.id }}" class="tabla__enlace">
                    {{ solve.challenge.name }}
                  </a>
                </td>
                <td class="tabla__celda tabla__celda--ocultar">{{ solve.challenge.category }}</td>
                <td class="tabla__celda tabla__celda--centro">{{ solve.challenge.value }}</td>
                <td class="tabla__celda tabla__celda--centro solve-time">
                  <span data-time="{{ solve.date | isoformat }}">{{ solve.date }}</span>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% else %}
    <div class="estadisticas__vacio">
      <h3>No hay aciertos aún</h3>
    </div>
  {% endif %}
</section>

{% endblock %}

{% block scripts %}
  <script>
      window.stats_data = {{ {
        'type': 'team',
        'id': team.id,
        'name': team.name,
        'account_id': 'me',
      } | tojson }};

      window.team_captain = {{ (user.id == team.captain_id) | tojson }};
  </script>
  {{ Assets.js("assets/js/teams/private.js") }}
{% endblock %}