{% extends "base.html" %}

{% block content %}

  {% set titulo = "Equipo" %}
  {% include "components/jumbotron.html" with context %}

  <section class="team-options">
    <div class="team-options__intro">
      <h2 class="team-options__title">Bienvenid@ a {{ Configs.ctf_name }}!</h2>
      <p class="team-options__text">
        Para participar debes unirte o crear un equipo.
      </p>
    </div>

    {% if integrations.mlc() %}
      <div class="team-options__group">
        <a class="btn--success" href="{{ url_for('auth.oauth_login') }}">
          Juega con el equipo oficial
        </a>
      </div>

      <div class="team-options__row">
        <a class="btn--success" href="{{ url_for('teams.join') }}">
          Únete al equipo no oficial
        </a>
        <a class="btn--success" href="{{ url_for('teams.new') }}">
          Crear equipo no oficial
        </a>
      </div>
    {% else %}
      <div class="team-options__row">
        <a class="btn--success" href="{{ url_for('teams.join') }}">
          Unirse al equipo
        </a>
        <a class="btn--success" href="{{ url_for('teams.new') }}">
          Crear equipo
        </a>
      </div>
    {% endif %}
  </section>

{% endblock %}
