{% extends "base.html" %}

{% block content %}
  {% set titulo = "Usuarios" %}
  {% include "components/jumbotron.html" with context %}

  <section class="usuarios">
    {% if q and field %}
      <section class="usuarios__filtro-usuarios">
          <h5 class="filtro-usuarios__mensaje">
            Buscando usuarios con <strong>{{ field }}</strong> que coincida con <strong>{{ q }}</strong>
          </h5>
          <h6 class="filtro-usuarios__mensaje--sub">
            Página {{ users.page }} de {{ users.total }} resultados
          </h6>
      </section>
    {% endif %}

    {% with form = Forms.users.PublicUserSearchForm(field=field, q=q) %}
      <form method="GET" class="usuarios__formulario" novalidate>
        <div class="usuarios__campo usuarios__campo--select">
          {{ form.field(class="form__select") }}
        </div>
        <div class="usuarios__campo usuarios__campo--input">
          <div class="form__input-wrapper">
            <span class="form__prefix">&gt;</span>
            {{ form.q(class="form__input form__input--special", placeholder=form.q.description) }}
          </div>
        </div>
        <div class="usuarios__campo usuarios__campo--boton">
          <button type="submit" class="boton">
            <i class="fas fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </form>
    {% endwith %}

    <section class="tabla">
      <table class="tabla__tabla">
        <thead class="tabla__encabezado">
          <tr>
            <th class="tabla__th">Usuario</th>
            <th class="tabla__th tabla__celda--centro">Página web</th>
            <th class="tabla__th tabla__th--ocultar">Afiliación</th>
            <th class="tabla__th tabla__th--ocultar">País</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users.items %}
            <tr class="tabla__fila">
              <td class="tabla__celda">
                {% if scores_visible() %}
                  <a href="{{ url_for('users.public', user_id=user.id) }}" class="tabla__enlace">
                    {{ user.name | truncate(50) }}
                  </a>
                {% else %}
                  <span class="tabla__texto">{{ user.name | truncate(50) }}</span>
                {% endif %}

                {% if user.bracket_id %}
                  <span class="etiqueta etiqueta--principal">{{ user.bracket.name }}</span>
                {% endif %}

                {% if user.oauth_id %}
                  <a href="https://majorleaguecyber.org/u/{{ user.name }}">
                    <span class="etiqueta etiqueta--secundaria">Oficial</span>
                  </a>
                {% endif %}
              </td>

              <td class="tabla__celda tabla__celda--centro">
                {% if user.website and (user.website.startswith('http://') or user.website.startswith('https://')) %}
                  <a href="{{ user.website }}" target="_blank" rel="noopener">
                    <i class="fas fa-external-link-alt" title="{{ user.website }}"></i>
                  </a>
                {% endif %}
              </td>

              <td class="tabla__celda tabla__celda--ocultar">
                {% if user.affiliation %}
                  {% if user.affiliation | length > 50 %}
                    <span title="{{ user.affiliation }}">
                      {{ user.affiliation | truncate(50) }}
                    </span>
                  {% else %}
                    <span>{{ user.affiliation | truncate(50) }}</span>
                  {% endif %}
                {% endif %}
              </td>

              <td class="tabla__celda tabla__celda--ocultar">
                {% if user.country %}
                  <i class="flag-{{ user.country.lower() }}"></i>
                  {{ lookup_country_code(user.country) }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>

    {% if users.pages > 1 %}
      <section class="paginacion">
        <span class="paginacion__texto">Página</span>

        {% if users.page != 1 %}
          <a href="{{ prev_page }}" class="paginacion__link">&laquo;</a>
        {% endif %}

        <select class="paginacion__select">
          {% for page in range(1, users.pages + 1) %}
            <option {% if users.page == page %}selected{% endif %}>{{ page }}</option>
          {% endfor %}
        </select>

        {% if users.next_num %}
          <a href="{{ next_page }}" class="paginacion__link">&raquo;</a>
        {% endif %}
      </section>
    {% endif %}
  </section>
{% endblock %}

{% block scripts %}
  {{ Assets.js("assets/js/users/list.js") }}
{% endblock %}
