.custom {
  margin: 5rem auto;
  padding: 2rem;
  max-width: 1200px;

  &__title {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    color: var(--text-h-color);
    font-weight: bold;
    font-size: 4rem;
  }

  &__content {
    font-size: 1.3rem;
  }

  &__link {
    color: var(--text-a-color);
    text-decoration: underline;
  }

  &__social {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;

    &__link {
      color: var(--text-a-color);
      font-size: 4rem;
    }
  }

  &__image {
    display: block;
    margin: 2rem auto;
    max-width: 60vw;
    height: auto;
  }

  &__welcome {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    height: 50vh;
    margin: 8rem auto;
    padding: 1rem 5rem;

    &__card {
      flex: 1 1 calc(33.333% - 20px);
      padding: 1rem;
      min-width: 250px;
      text-align: center;
    }

    &__card-title-red {
      font-size: 4rem;
      font-weight: bold;
      margin-bottom: 1rem;
      color: var(--custom-title-red);
    }

    &__card-title-blue {
      font-size: 4rem;
      font-weight: bold;
      margin-bottom: 1rem;
      color: var(--custom-title-blue);
    }

    &__card-text {
      font-size: 2rem;
      font-weight: bold;
      color: var(--custom-text-color);
    }

    &__card-text-destacado {
      font-size: 4rem;
      font-weight: bold;
      color: var(--custom-text-color);
    }
  }
}

@media (max-width: 768px) {
  .custom__welcome__card {
    flex: 1 1 100%;
  }
}

