/* Jumbotron styles */
// Move down content because we have a fixed navbar that is 3.5rem tall
main {
  padding-top: 4rem;
}

.jumbotron {
  padding: 6rem 2rem;
  text-align: center;
  background-color: #222222;
  color: #fff;
  position: relative;
  margin-top: 2rem;

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    height: 50px;
  }

  &__title {
    text-shadow:
      -20px -10px 1px #0055f480,
      15px 10px 1px #e9345584;
    color: #fff;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: 1.25rem;
    color: #6c757d;
  }

  @media (min-width: 760px) {
    padding: 8rem 4rem;
    margin-top: 2.75rem;

    &__title {
      font-size: 4rem;
    }
  }

  @media (min-width: 1000px) {
    margin-top: 2.25rem;
  }

  @media (min-width: 1100px) {
    margin-top: 3rem;
    padding-top: 12rem;
  }

  @media (min-width: 1600px) {
    margin-top: 1.5rem;
    padding-top: 16rem;
  }
}
